
.top-container-propertiesPage{ 
    width: 100%;
    height: 448px;
    background: linear-gradient(280deg, #262626, rgba(153, 153, 153, 0.1), rgba(255, 255, 255, 0.2));

    display: flex;
    flex-direction: column;
    gap: 230px;

    position: relative;
}

.heading-top-propertiesPage{ 
    padding-top: 80px;
    padding-left: 80px;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.searchInputAndButton-propertiesPage{ 
    display: flex;
    align-items: center;
    gap: 15px;

    background-color: #262626;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 10px;
}

.searchInputAndButton-propertiesPage button{ 
    display: flex;
    align-items: center;
    /* background-color: #703BF7; */
    background-color: #494848;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 6px;
    border: none;
    cursor: wait;
}

.searchInputAndButton-propertiesPage input{ 
    width: 866px;
    height: 40px;
    border-radius: 8px;
    border: none;

    padding: 16px 20px;
    font-size: large;
}

.searchInputAndButton-propertiesPage input:focus{ 
    outline: none;
}

#searchContainer-top-propertiesPage{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}

.boxes-top-PropertiesPage{ 
    display: flex;
    gap: 20px;

    background-color: #262626;
    border-radius: 12px;
    padding: 10px 10px;
}

.Location-DropDown-PropertiesPage, .PropertyType-DropDown-PropertiesPage,
.Pricing-DropDown-PropertiesPage, .SizeOfProperty-DropDown-PropertiesPage,
.BuildYear-DropDown-PropertiesPage{ 
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #141414;
    border: solid #494848 2px;
    color: white;
    border-radius: 8px;
    width: 13em;
    height: fit-content;
    padding: 12px 14px;
}

.ImageAndText-PropertiesScton{ 
    display: flex;
    gap: 8px;
}

.dropdownIcon-1-propertiesSection,.dropdownIcon-2-propertiesSection,
.dropdownIcon-3-propertiesSection, .dropdownIcon-4-propertiesSection, 
.dropdownIcon-5-propertiesSection{ 
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdownIcon-1-propertiesSection:hover,.dropdownIcon-2-propertiesSection:hover,
.dropdownIcon-3-propertiesSection:hover, .dropdownIcon-4-propertiesSection:hover, 
.dropdownIcon-5-propertiesSection:hover{

}

/* The dropdowns for the front page */
.Location-DropDown-PropertiesPage, .PropertyType-DropDown-PropertiesPage,
.Pricing-DropDown-PropertiesPage, .SizeOfProperty-DropDown-PropertiesPage,
.BuildYear-DropDown-PropertiesPage{ 
    position: relative;
}

.dropdown-location, .dropdown-Propertytype, .propertyPrice-dropdown, 
.propertySize-dropdown{
    position: absolute;
    padding: 12px 20px;
    top: 4.5em;
    bottom: 0px;
    left: 0;
    right: 0;

    width: 500px;
    height: fit-content;
    background-color: whitesmoke;
    color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* This is for the build date, different position as it is at the end of  the screen */
.dropdownForBulildDate{
    position: absolute;
    padding: 12px 20px;
    top: 4.5em;
    bottom: 0px;
    /* left: 0; */
    right: 0;  /*This is the reason for the new li */
    
    width: 500px;
    height: fit-content;
    background-color: whitesmoke;
    color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* /// */

.dropdown-location li, .dropdown-Propertytype li, .propertyPrice-dropdown li,
.propertySize-dropdown li, .dropdownForBulildDate li{ 
    text-decoration: none;
    list-style-type: none;
    font-weight: 700;

    display: flex;
    align-items: center;
    gap: 12px;
    color: #703BF7;
    cursor: pointer;
    transition: all 0.5s ease;
}

.dropdown-location li:hover, .dropdown-Propertytype li:hover, .propertyPrice-dropdown li:hover,
.propertySize-dropdown li:hover, .dropdownForBulildDate li:hover{ 
    font-weight: 500;
}
/* dropdowns closed */


/* Second Container Properties Page */
.second-container-propertiesPage{ 
    padding-top: 200px;
    padding-left: 80px;
    padding-right: 80px;

    color: white;
    
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.h1AndP-forSecondCont-propertiesSection{ 
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.actualProperties-propertiesPage{
}

.theProperties-propsPage{
     width: 25.9em;
     height: fit-content;
     background-color: #141414;
     border: solid #999999 1px;
     border-radius: 12px;
     padding: 30px 30px;
     
     display: flex;
     flex-direction: column;
     gap: 18px;
}

.theProperties-propsPage p{ 
    /* width: 21em; */
}

.theProperties-propsPage h4{ 
    width: fit-content;
    height: fit-content;
    background-color: #262626;
    border: #494848 solid 1px;
    padding: 6px 12px;
    border-radius: 28px;
    font-size: 14px;
}

.h2AndP-theproperty-propsPage{ 
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.propertyPrice-propsPage-AndButton{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceOfProperty{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.LinkButtonToViewPropertyDetails-propsPage button{ 
    padding: 14px 20px;
    border: none;
    background-color: #703BF7;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}


.h2AndP-theproperty-propsPage span{ 
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.h2AndP-theproperty-propsPage span:active{ 
    text-decoration: none;
    color: #703BF7;
}

.actualProperties-propertiesPage{ 
    /* display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
    row-gap: 0px;
    overflow-x: auto; */
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.actualProperties-propertiesPage::-webkit-scrollbar{ 
    width: 0px;
    height: 5px;
}

.actualProperties-propertiesPage::-webkit-scrollbar-thumb{ 
    background-color: #703BF7;
    border-radius: 5px;
}
/* Second Container Closed */

/* Third Container properties page */
.Third-Container-PropertiesPage{
    padding-top: 80px;
    padding-left: 80px;

    display: flex;
    flex-direction: column;
    gap: 60px;
    color: white;
}

.Icon-H1-andP-ThirdCont-propertiesPage{ 
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.form-input-propertiesPage{ 
    width: 1279px;
    height: 704px;
    border: #494848 solid 1px;
    padding: 50px 50px;
    border-radius: 12px;
}

.form-input-propertiesPage form{ 
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.first-form-propsPage, .second-form-propsPage, .third-form-propsPage, .fourth-form-propsPage,
.fifth-form-propsPage, .sixth-form-propsPage, .seventh-form-propsPage, .eight-form-propsPage, 
.ninth-form-propsPage, .tenth-form-propsPage, .eleventh-form-propsPage, .twelve-form-propsPage { 
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.ninth-form-propsPage input{ 
    width: 574.5px !important;
}

.twelve-form-propsPage input{ 
    width: 1179px !important;
    height: 122px !important;
    padding: 16px 20px;
}


.form-input-propertiesPage form input{ 
    width: 272.25px;
    height: 52px;
    border-radius: 8px;
    background-color: #1A1A1A;
    outline: none;
    border: #262626 solid 1px;
    color: white;
    padding: 16px 20px;
}

.form-input-propertiesPage form label{ 
    color: white;
    font-weight: 400;
}

#the-first-two-rows-propsPage-form{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px
}

#third-row-propsPage-form{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.tenth-form-propsPage{ 

}

.checkbox-form-propsPage{ 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.terms_and-conditions{ 
    display: flex;
    align-items: center;
}

.terms_and-conditions input{ 
    width: 17px !important;
    height: 17px !important;
}

.checkbox-form-propsPage button{ 
    padding: 14px 28px;
    background-color: #703BF7;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
/* Third container closed */





/* Media query for screens with max 300px */
@media all and (max-width: 300px) {
    br{ 
        display: none;
    }

    .Main-Container-Properties-Page{ 
        padding-top:20px;
    }

    .top-container-propertiesPage{ 
       gap: 60px;
       height: fit-content;
       padding-bottom: 20px;
    }

    .heading-top-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
    }

    #searchContainer-top-propertiesPage{
        gap: 10px;
    }

    .searchInputAndButton-propertiesPage button{ 
        display: none;
    }

    .searchInputAndButton-propertiesPage input{ 
        width: 15rem;
        background-color: #141414;
        box-shadow: 0px 0px 5px 5px #262626;
        width: fit-content;
    }

    .searchInputAndButton-propertiesPage{ 
        background-color: unset;
    }

    .boxes-top-PropertiesPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #1c1c1c;
        width: fit-content;
    }

    .Location-DropDown-PropertiesPage, .PropertyType-DropDown-PropertiesPage,
    .Pricing-DropDown-PropertiesPage, .SizeOfProperty-DropDown-PropertiesPage,
    .BuildYear-DropDown-PropertiesPage{ 
        width: 250px;
    }


    /* Second container */
    .second-container-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }

    /* the properties datas */
    .actualProperties-propertiesPage{
        padding: 10px 0px;
    }

    .theProperties-propsPage img{ 
        width: 190px;
        height: 200px;
    }

    .theProperties-propsPage{
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .theProperties-propsPage h4{ 
        font-size: 10px;
    }

    .theProperties-propsPage h1{ 
        font-size: 12px;
    }

    .theProperties-propsPage p{ 
        font-size: 13px;
    }

    .theProperties-propsPage button{
        padding: 5px 5px;
        width: 100px;
    }

    .priceOfProperty h3{ 
        font-size: 13px;
    }
    /* properties data closed */
    /* secodn contianer closed */

    /* Third Container */
    .Third-Container-PropertiesPage{ 
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }


    /* Form Section */
    .form-input-propertiesPage{
        height: fit-content;
        width: fit-content;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 10px;
        align-self: center;

    }

    #the-first-two-rows-propsPage-form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #the-first-two-rows-propsPage-form input{ 
        /* width: fit-content; */
        width: 240px;

    }

    #third-row-propsPage-form{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    #third-row-propsPage-form input{ 
        /* width: fit-content; */
        width: 240px;
    }

    .ninth-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 240px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .twelve-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 240px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .terms_and-conditions p{ 
        font-size: 8px;
    }

    .terms_and-conditions{ 
        display: flex;
        gap: 8px;
    }
    /* Form Section Closed */
    /* Third Container Closed */
}
/* Media  for small screens 300 max closed*/


/* Media for screens that are at 301px to 400px */
@media all and (min-width: 301px) and (max-width: 400px) {

    br{ 
        display: none;
    }

    .Main-Container-Properties-Page{ 
        padding-top:20px;
    }

    .top-container-propertiesPage{ 
       gap: 60px;
       height: fit-content;
       padding-bottom: 20px;
    }

    .heading-top-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
    }

    #searchContainer-top-propertiesPage{
        gap: 10px;
    }

    .searchInputAndButton-propertiesPage button{ 
        display: none;
    }

    .searchInputAndButton-propertiesPage input{ 
        width: 15rem;
        background-color: #141414;
        box-shadow: 0px 0px 5px 5px #262626;
        /* width: fit-content; */
        width: 280px;
    }

    .searchInputAndButton-propertiesPage{ 
        background-color: unset;
    }

    .boxes-top-PropertiesPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #1c1c1c;
        /* width: fit-content; */
        padding-left:10px;
        width: 300px;
    }

    .Location-DropDown-PropertiesPage, .PropertyType-DropDown-PropertiesPage,
    .Pricing-DropDown-PropertiesPage, .SizeOfProperty-DropDown-PropertiesPage,
    .BuildYear-DropDown-PropertiesPage{ 
        width: 275px;
    }


    /* Second container */
    .second-container-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }

    /* the properties datas */
    .actualProperties-propertiesPage{
        padding: 10px 0px;
    }

    .theProperties-propsPage img{ 
        width: 250px;
        height: 200px;
    }

    .theProperties-propsPage{
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .theProperties-propsPage h4{ 
        font-size: 10px;
    }

    .theProperties-propsPage h1{ 
        font-size: 12px;
    }

    .theProperties-propsPage p{ 
        font-size: 14px;
    }

    .theProperties-propsPage button{
        padding: 5px 5px;
        width: 100px;
    }

    .priceOfProperty h3{ 
        font-size: 13px;
    }
    /* properties data closed */
    /* secodn contianer closed */

    /* Third Container */
    .Third-Container-PropertiesPage{ 
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }


    /* Form Section */
    .form-input-propertiesPage{
        height: fit-content;
        width: fit-content;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 10px;
        align-self: center;

    }

    #the-first-two-rows-propsPage-form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #the-first-two-rows-propsPage-form input{ 
        /* width: fit-content; */
        width: 280px;

    }

    #third-row-propsPage-form{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    #third-row-propsPage-form input{ 
        /* width: fit-content; */
        width: 280px;
    }

    .ninth-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 280px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .twelve-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 280px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .terms_and-conditions p{ 
        font-size: 13px;
    }

    .terms_and-conditions{ 
        display: flex;
        gap: 8px;
    }
    /* Form Section Closed */
    /* Third Container Closed */
}
/* Media for scrrens 301 to 400 closed */



/* Media for screens that are at 401px to 500px */
@media all and (min-width: 401px) and (max-width: 500px) {

    br{ 
        display: none;
    }

    .Main-Container-Properties-Page{ 
        padding-top:20px;
    }

    .top-container-propertiesPage{ 
       gap: 60px;
       height: fit-content;
       padding-bottom: 20px;
    }

    .heading-top-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
    }

    #searchContainer-top-propertiesPage{
        gap: 10px;
    }

    .searchInputAndButton-propertiesPage button{ 
        display: none;
    }

    .searchInputAndButton-propertiesPage input{ 
        width: 15rem;
        background-color: #141414;
        box-shadow: 0px 0px 5px 5px #262626;
        /* width: fit-content; */
        width: 400px;
    }

    .searchInputAndButton-propertiesPage{ 
        background-color: unset;
    }

    .boxes-top-PropertiesPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #1c1c1c;
        /* width: fit-content; */
        padding-left:10px;
        width: 400px;
    }

    .Location-DropDown-PropertiesPage, .PropertyType-DropDown-PropertiesPage,
    .Pricing-DropDown-PropertiesPage, .SizeOfProperty-DropDown-PropertiesPage,
    .BuildYear-DropDown-PropertiesPage{ 
        width: 375px;
    }


    /* Second container */
    .second-container-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }

    /* the properties datas */
    .actualProperties-propertiesPage{
        padding: 10px 0px;
    }

    .theProperties-propsPage img{ 
        width: 300px;
        height: 250px;
    }

    .theProperties-propsPage{
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .theProperties-propsPage h4{ 
        font-size: 12px;
    }

    .theProperties-propsPage h1{ 
        font-size: 15px;
    }

    .theProperties-propsPage p{ 
        font-size: 14px;
    }

    .theProperties-propsPage button{
        padding: 14px 10px;
        /* width: 100px; */
    }

    .priceOfProperty h3{ 
        font-size: 20px;
    }
    /* properties data closed */
    /* secodn contianer closed */

    /* Third Container */
    .Third-Container-PropertiesPage{ 
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }


    /* Form Section */
    .form-input-propertiesPage{
        height: fit-content;
        width: fit-content;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        align-self: center;

    }

    #the-first-two-rows-propsPage-form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #the-first-two-rows-propsPage-form input{ 
        /* width: fit-content; */
        width: 380px;

    }

    #third-row-propsPage-form{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    #third-row-propsPage-form input{ 
        /* width: fit-content; */
        width: 380px;
    }

    .ninth-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 380px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .twelve-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 380px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .terms_and-conditions p{ 
        font-size: 13px;
    }

    .terms_and-conditions{ 
        display: flex;
        gap: 8px;
    }
    /* Form Section Closed */
    /* Third Container Closed */
}
/* Screen sizes that are 401 to 500 closed */



/* Media for screens that are at 501px to 700px */
@media all and (min-width: 501px) and (max-width: 700px) {

    br{ 
        display: none;
    }

    .Main-Container-Properties-Page{ 
        padding-top:20px;
    }

    .top-container-propertiesPage{ 
       gap: 60px;
       height: fit-content;
       padding-bottom: 20px;
    }

    .heading-top-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
    }

    #searchContainer-top-propertiesPage{
        gap: 10px;
    }

    .searchInputAndButton-propertiesPage button{ 
        display: none;
    }

    .searchInputAndButton-propertiesPage input{ 
        width: 15rem;
        background-color: #141414;
        box-shadow: 0px 0px 5px 5px #262626;
        /* width: fit-content; */
        width: 500px;
    }

    .searchInputAndButton-propertiesPage{ 
        background-color: unset;
    }

    .boxes-top-PropertiesPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #1c1c1c;
        /* width: fit-content; */
        padding-left:10px;
        width: 500px;
    }

    .Location-DropDown-PropertiesPage, .PropertyType-DropDown-PropertiesPage,
    .Pricing-DropDown-PropertiesPage, .SizeOfProperty-DropDown-PropertiesPage,
    .BuildYear-DropDown-PropertiesPage{ 
        width: 475px;
    }


    /* Second container */
    .second-container-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }

    /* the properties datas */
    .actualProperties-propertiesPage{
        padding: 10px 0px;
    }

    .theProperties-propsPage img{ 
        width: 380px;
        height: 260px;
    }

    .theProperties-propsPage{
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 20px;
    }

    .theProperties-propsPage h4{ 
        font-size: 15px;
    }

    .theProperties-propsPage h2{ 
        font-size: 27px;
    }

    .theProperties-propsPage p{ 
        font-size: 16px;
    }

    .theProperties-propsPage button{
        padding: 14px 10px;
        /* width: 100px; */
    }

    .priceOfProperty h3{ 
        font-size: 20px;
    }
    /* properties data closed */
    /* secodn contianer closed */

    /* Third Container */
    .Third-Container-PropertiesPage{ 
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }


    /* Form Section */
    .form-input-propertiesPage{
        height: fit-content;
        width: fit-content;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        align-self: center;

    }

    #the-first-two-rows-propsPage-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #the-first-two-rows-propsPage-form input{ 
        /* width: fit-content; */
        width: 200px;

    }

    #third-row-propsPage-form{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    #third-row-propsPage-form input{ 
        width: fit-content;
        width: 430px;
    }

    .ninth-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 430px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .twelve-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 430px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .terms_and-conditions p{ 
        font-size: 13px;
    }

    .terms_and-conditions{ 
        display: flex;
        gap: 8px;
    }
    /* Form Section Closed */
    /* Third Container Closed */
}
/* Media for screens at 501 to 700px closed */



/* Media for screens that are at 701px to 900px */
@media all and (min-width: 701px) and (max-width: 900px) {

    br{ 
        display: none;
    }

    .Main-Container-Properties-Page{ 
        padding-top: 20px;
    }

    .top-container-propertiesPage{ 
       gap: 60px;
       height: fit-content;
       padding-bottom: 20px;
    }

    .heading-top-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
    }

    #searchContainer-top-propertiesPage{
        gap: 10px;
    }

    .searchInputAndButton-propertiesPage button{ 
        display: none;
    }

    .searchInputAndButton-propertiesPage input{ 
        width: 15rem;
        background-color: #141414;
        box-shadow: 0px 0px 5px 5px #262626;
        /* width: fit-content; */
        width: 800px;
    }

    .searchInputAndButton-propertiesPage{ 
        background-color: unset;
    }

    .boxes-top-PropertiesPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #1c1c1c;
        /* width: fit-content; */
        padding-left:10px;
        width: 800px;
    }

    .Location-DropDown-PropertiesPage, .PropertyType-DropDown-PropertiesPage,
    .Pricing-DropDown-PropertiesPage, .SizeOfProperty-DropDown-PropertiesPage,
    .BuildYear-DropDown-PropertiesPage{ 
        width: 775px;
    }


    /* Second container */
    .second-container-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }

    /* the properties datas */
    .actualProperties-propertiesPage{
        padding: 10px 0px;
    }

    .theProperties-propsPage img{ 
        width: 380px;
        height: 260px;
    }

    .theProperties-propsPage{
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 20px;
    }

    .theProperties-propsPage h4{ 
        font-size: 15px;
    }

    .theProperties-propsPage h2{ 
        font-size: 27px;
    }

    .theProperties-propsPage p{ 
        font-size: 16px;
    }

    .theProperties-propsPage button{
        padding: 14px 10px;
        /* width: 100px; */
    }

    .priceOfProperty h3{ 
        font-size: 20px;
    }
    /* properties data closed */
    /* secodn contianer closed */

    /* Third Container */
    .Third-Container-PropertiesPage{ 
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }


    /* Form Section */
    .form-input-propertiesPage{
        height: fit-content;
        width: fit-content;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        align-self: center;

    }

    #the-first-two-rows-propsPage-form{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #the-first-two-rows-propsPage-form input{ 
        /* width: fit-content; */
        width: 200px;

    }

    #third-row-propsPage-form{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px !important;
        gap: 30px;
    }

    #third-row-propsPage-form input{ 
        width: fit-content;
        width: 230px;
    }

    .ninth-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 480px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .twelve-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 775px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .terms_and-conditions p{ 
        font-size: 13px;
    }

    .terms_and-conditions{ 
        display: flex;
        gap: 8px;
    }
    /* Form Section Closed */
    /* Third Container Closed */
}
/* Media for 701 to 900px closed */


/* Media for screens that are at 901px to 1199px */
@media all and (min-width: 901px) and (max-width: 1199px) {

    br{ 
        display: none;
    }

    .Main-Container-Properties-Page{ 
        padding-top: 20px;
    }

    .top-container-propertiesPage{ 
       gap: 60px;
       height: fit-content;
       padding-bottom: 20px;
    }

    .heading-top-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
    }

    #searchContainer-top-propertiesPage{
        gap: 10px;
    }

    .searchInputAndButton-propertiesPage button{ 
        display: none;
    }

    .searchInputAndButton-propertiesPage input{ 
        width: 15rem;
        background-color: #141414;
        box-shadow: 0px 0px 5px 5px #262626;
        /* width: fit-content; */
        width: 800px;
    }

    .searchInputAndButton-propertiesPage{ 
        background-color: unset;
    }

    .boxes-top-PropertiesPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #1c1c1c;
        /* width: fit-content; */
        padding-left:10px;
        width: 800px;
    }

    .Location-DropDown-PropertiesPage, .PropertyType-DropDown-PropertiesPage,
    .Pricing-DropDown-PropertiesPage, .SizeOfProperty-DropDown-PropertiesPage,
    .BuildYear-DropDown-PropertiesPage{ 
        width: 775px;
    }


    /* Second container */
    .second-container-propertiesPage{ 
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }

    /* the properties datas */
    .actualProperties-propertiesPage{
        padding: 10px 0px;
    }

    .theProperties-propsPage img{ 
        width: 380px;
        height: 260px;
    }

    .theProperties-propsPage{
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 20px;
    }

    .theProperties-propsPage h4{ 
        font-size: 15px;
    }

    .theProperties-propsPage h2{ 
        font-size: 27px;
    }

    .theProperties-propsPage p{ 
        font-size: 16px;
    }

    .theProperties-propsPage button{
        padding: 14px 10px;
        /* width: 100px; */
    }

    .priceOfProperty h3{ 
        font-size: 20px;
    }
    /* properties data closed */
    /* secodn contianer closed */

    /* Third Container */
    .Third-Container-PropertiesPage{ 
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }


    /* Form Section */
    .form-input-propertiesPage{
        height: fit-content;
        width: fit-content;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        align-self: center;

    }

    #the-first-two-rows-propsPage-form{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #the-first-two-rows-propsPage-form input{ 
        /* width: fit-content; */
        width: 200px;

    }

    #third-row-propsPage-form{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px !important;
        gap: 30px;
    }

    #third-row-propsPage-form input{ 
        width: fit-content;
        width: 230px;
    }

    .ninth-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 480px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .twelve-form-propsPage input{ 
        /* width: fit-content !important; */
        width: 775px !important;
    }

    .checkbox-form-propsPage{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .terms_and-conditions p{ 
        font-size: 13px;
    }

    .terms_and-conditions{ 
        display: flex;
        gap: 8px;
    }
    /* Form Section Closed */
    /* Third Container Closed */
}
/* Media for scrrens at 901 to 1199px closed */