@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{ 
    background-color: #141414;
    font-family: "Urbanist", sans-serif;
}

body::-webkit-scrollbar-track{
    background-color: #703BF7; 
    border-radius: 5px; 
}

body::-webkit-scrollbar{
    width: 8px;
    /* height: 5px; */
}

body::-webkit-scrollbar-thumb{
    background-color: #2e2e2e;
    border-radius: 50px;
}